

#root {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  height: 100%;
}

.app-wrapper {
  padding: 2rem;
}

.main-title {
  height: fit-content;
}

.project-wrapper {
  height: auto;
  width: 100%;
  padding: 1rem;
  border-color: white;
  border-radius: 20px;
  border: solid 1px;
  background-color: darkslategray;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
}

.project-control-panel {
  width: 100%;
}

.project-view {
  width: 100%;
}